@font-face{
	font-family:noto-serif;
	font-style:normal;
	src: url(spmh/noto.ttf);
}

@font-face{
	font-family:noto-serif;
	font-style:italic;
	src: url(spmh/maconoto.ttf);
}

body{
	color: #000;
	background-color: #feb;
	font: 18px Times, serif;
	font-family:noto-serif;
	text-align: center;
	line-height: 1.2;
	background-image: linear-gradient(#feb, #ffb);
	background-attachment: fixed;
	height: 100%;
}

h1{ 
	font: small-caps bold 72px Times, serif;
	font-family:noto-serif;
	animation: logo 5s infinite;
	animation-timing-function: linear;
	text-shadow:2px 2px 1px #0004;
	padding: 0px;
	margin: 8px;
}

h2{ 
	font: small-caps bold 48px Times, serif;
	font-family:noto-serif;
	text-shadow:2px 2px 1px #0004;
	padding: 0px;
	margin: 8px;
}

h3{
	font: bold 18px Times, serif;
	font-family:noto-serif;
	text-shadow:2px 2px 1px #0004;
}

td{
	font: 18px Times, serif;
	font-family:noto-serif;
	border: 2px solid;
	background-color:#f7f7f7;
	border-color: #ccc #aaa #aaa #ccc;
	position: center;
	text-align:center;
	//margin: auto;
	width: 80px;
	padding:4px 0px 4px 0px;
	box-shadow: 0px 0px 3px #0002;

	@media(max-width: 639px){
		font: 12px Times, serif;
		font-family:noto-serif;
		padding:0px;
	}
}

.blank{
	padding:0px;
	border: 0px;
	box-shadow: 0px 0px 0px #0000;
	background-color:#0000;
}

table{
	margin: auto;
	}

h6{
	font: 18px Times, serif;
	font-family:noto-serif;
	margin:18px;
}

p{
	text-align: justify;
	text-indent: 48px;
	font: 18px Times, serif;
	font-family:noto-serif;
}

a{
	color: #000;
	font: bold 18px Times, serif;
	font-family:noto-serif;
	text-decoration: none;
	line-height:1.8;
	background-color: #ededed;
	border-width: 2px;
	border-style: solid;
	border-color: #ccc #aaa #aaa #ccc;
	margin: 2px;
	white-space:nowrap;
	box-shadow: 0px 0px 3px #0004;
	text-shadow:0px 0px 2px #ffff;
	outline-color:#fff;
}

p{
	text-align: justify;
	text-indent: 48px;
	font: 18px Times, serif;
	font-family:noto-serif;
	
	a{
		margin:-2px;
		line-height:1;
	}
	
}

a:hover{
	background-color: #dedede;
	}

.clip{
	text-decoration:underline;
}

.page{
	color: #000;
	background-color: #fff;
	font: 12px Times, serif;
	font-family:noto-serif;
	text-align: center;
	line-height: 1.2;
	padding: 32px;
	margin: 16px;
	margin-bottom:16px;
	box-shadow: 4px 4px 8px #0004;
	text-shadow:0px 0px 1px #ffff;
	
	background-image: url("tile.png");
	background-repeat: repeat;
	background-attachment: fill;
	background-position: center;
}

@keyframes logo {
  0%   {rotate: y 0deg;}
  50%  {rotate: y 180deg;}
  100% {rotate: y 360deg;}
}

.txtitl{
	font-style:italic;
}

iframe{	
	height:640px;
	width:1000px;	
}

.dol{
	font-variant:small-caps;
	font-weight:bold;
	color:#c00;
	//text-shadow:0px 0px 1px #4fff;
}

.blu{
	color:#00f;
	text-shadow:0px 0px 1px #ff0f;
}